.game-container {
}
.grid-container {
  /* width: auto; */
  /*height: 100%;*/
  width: 75vw;
  display: grid;
  user-select: none;

  background-repeat: no-repeat;
  background-size: contain;
}

.tile {
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  box-sizing: border-box;
}
[col="1"] {
  border-left: 1px solid grey;
}

.dimensions {
}
.dimensions.container {
}
