.menus-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.menu-container {
  width: 25vw;
  z-index: 5;
  position: absolute;
}
.menu-container.left {
  top: 0;
  left: 0;
  height: 100vh;
  pointer-events: none;
}
.menu-container.right {
  top: 0;
  right: 0;
  height: 100vh;
  pointer-events: none;
}
.fa-bars,
.fa-user {
  pointer-events: auto;
}

.menu-items {
  background-color: red;
  height: 100%;
  pointer-events: auto;
}

.element-image {
  width: 350px;
}

.upload-file-modal input {
  max-width: 50%;
}

/**************/
/* LEFT SIDE */
/**************/

/**************/
/* RIGHT SIDE */
/**************/
.entity-menu {
  text-align: right;
}

/**************/
/* BACKGROUND */
/**************/
.backgrounds-list-container {
  position: absolute;
  /* left: 10%; */
  /* top: 10%; */
  z-index: 15;
}
.backgrounds-list,
.menu-items {
  position: relative;
  list-style: none;
  padding: 0;
}
.backgrounds-list-container {
  background-color: white;
  border: 1px solid black;
}

/***********/
/* MONSTER */
/***********/

.monsters-list-container {
  position: absolute;
  /* left: 10%; */
  /* top: 10%; */
  z-index: 15;
}
.monsters-list,
.menu-items {
  position: relative;
  list-style: none;
  padding: 0;
}
.monsters-list-container {
  background-color: white;
  border: 1px solid black;
}

.monster-info {
  display: flex;
  flex-flow: column;
}

/**************/
/* ANIMATIONS */
/**************/

.menu-items {
  transition: 0.5s;
}

.left-menu-closed {
  left: -100%;
}
.left-menu-open {
  left: 0;
}

.right-menu-closed {
  left: 100%;
}
.right-menu-open {
  left: 0;
}
